 body {
    margin: 0;
    padding: 20px;
    background: #3b5bdb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

form {
    background: #fff;
    align-items: center;
    padding: 24px;
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
}

button {
    width: 100%;
    padding: 12px;
    background: #3b5bdb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #2f4ec7;
} 
    
